.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.map {
  height: 100vh;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  font-size: 25px;
  font-weight: bold;
}

/* menu icon style*/
.menu-icon-container {
  cursor: pointer;
  position: fixed;
  padding: 20px 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

#sidebar {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  left: -300px;
  top: 0;
  transition: left 300ms ease;
  background-color: white;
}

.open-side {
  left: 0 !important;
}

.body-slide {
  left: 300px !important;
}

/* Search style*/

.input-search{
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  background: #2b303b;
  color: #eee;
}

/* List view Style*/

.list {
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.list li {
  padding: 10px;
  overflow: auto;
}
 
.list li:hover {
  background: #eee;
  cursor: pointer;
}

.offscreen
 {
 clip-path: inset(100%);
 clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
 }

.infowindow {
  width: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
